header {
    background-color: darkslategray;
    color: white;
    padding: 1em;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center; /* Alinhar Verticalmente | */
    justify-content: center; /* Alinhar Horizontalmente -- */
}